html {
    height: 100vh;
}

body {
    background-color: #fffff8;
    height:100vh;
}

#content {
    margin-top: 100px;
    margin-bottom: 50px;
}

canvas {
    margin: 0 auto;
}


.navbar-nav{
    margin-right: 80px;
}

.navbar-light {
    border-bottom: .7px solid rgba(39, 39, 39, 0.135) !important;
    
}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}

.container{
    /* min-height: 100%;  */
    height: auto !important; 
}